$colorBackground: #eeeeee;
$colorBackgroundLight: #dddddd;
$colorBackgroundMid: #888888;
$colorBackgroundDark: #444444;
$colorBackgroundHeader: #cccccc;
$colorTextMain: #111111;
$colorTextLight: #444444;
$colorAccentLight: #d22d2d;
$colorAccentDark: rgba(139, 0, 0, 1);
$colorAccentMuted: rgba(139, 80, 80, 0.5);
$colorAccentMutedMore: rgba(139, 110, 110, 0.5);