$color-background-dark: rgb(54, 54, 54);
$color-background-mid: rgb(107, 107, 107);
$color-background-light: rgb(163, 163, 163);

$color-text-light: rgb(163, 163, 163);
$color-text-mid: rgb(107, 107, 107);
$color-text-dark: rgb(54, 54, 54);
$color-text-accent: rgb(99, 196, 99);

$color-post-accent: rgb(99, 196, 99);

$color-error: rgb(230, 10, 10);
$color-error-background: rgb(241, 169, 169);

$color-delete: rgb(138, 0, 0);
$color-delete-light: rgb(199, 143, 143);

$color-confirm: rgb(0, 128, 0);
$color-confirm-dark: rgb(0, 100, 0);
$color-confirm-light: rgb(99, 196, 99);

$color-link: rgb(99, 196, 99);
$color-link-visited: rgb(0, 128, 0);

$color-reaction-smile: rgb(99, 92, 0);
$color-reaction-smile-light: rgb(255, 251, 200);
$color-reaction-frown: rgb(51, 130, 204);
$color-reaction-frown-light: rgb(183, 220, 255);
$color-reaction-heart: rgb(233, 42, 42);
$color-reaction-heart-light: rgb(228, 176, 176);
$color-reaction-laugh: rgb(255, 166, 0);
$color-reaction-laugh-light: rgb(245, 239, 229);
$color-reaction-shadow: $color-background-light;
$color-reaction-inactive: rgb(99, 196, 99);

$username-prepend: "~";