$colorBackground: #eeeeee;
$colorBackgroundLight: #dddddd;
$colorBackgroundMid: #888888;
$colorBackgroundDark: #444444;
$colorBackgroundHeader: #cccccc;
$colorTextMain: #111111;
$colorTextLight: #444444;
$colorAccentLight: #d22d2d;
$colorAccentDark: darkred;