$color-background-dark: rgb(54, 54, 54);
$color-background-mid: rgb(107, 107, 107);
$color-background-light: rgb(163, 163, 163);

$color-text-light: rgb(163, 163, 163);
$color-text-mid: rgb(107, 107, 107);
$color-text-dark: rgb(54, 54, 54);
$color-text-accent: rgb(99, 196, 99);

$color-post-accent: rgb(99, 196, 99);

$color-error: rgb(230, 10, 10);
$color-error-background: rgb(241, 169, 169);

$color-delete: rgb(138, 0, 0);
$color-delete-light: rgb(199, 143, 143);

$color-confirm: rgb(0, 128, 0);
$color-confirm-dark: rgb(0, 100, 0);
$color-confirm-light: rgb(99, 196, 99);

$color-link: rgb(99, 196, 99);
$color-link-visited: rgb(0, 128, 0);

$color-reaction-smile: yellow;
$color-reaction-frown: blue;
$color-reaction-heart: red;
$color-reaction-laugh: orange;
$color-reaction-shadow: rgb(210, 210, 210);
$color-reaction-inactive: $color-text-accent;

$username-prepend: "~";