@import './vars';
$headerHeight: 3rem;
$headerTitleFontSize: 1.5rem;
$headerMenuFontSize: 1.2rem;
body {
    font-family: 'IM Fell English', serif;
    background-color: #eeeeee;
}

header {
    // Dimensions.
    height: $headerHeight;
    width: 100%;
    // Colors.
    background-color: $colorHeader;
    // Main menu wrapper.
    div.wrapper {
        // Display.
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Don't want it to spread out too much.
        height: 100%;
        width: 100%;
        max-width: 1080px;
        margin: auto;
        div.sub-wrapper {
            flex-grow: 1;
            // Display.
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            // Main logo.
            img {
                display: block;
                height: 50%;
                margin-right: 1rem;
                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }
            // Main title.
            h1 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: $headerTitleFontSize;
                text-align: center;
            }
            @media only screen and (max-width: 500px) {
                display: none;
            }
        }
        // Main menu contents.
        nav {
            flex-grow: 1;
            ul {
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    font-size: $headerMenuFontSize;
                    a {
                        text-align: center;
                        color: inherit;
                        text-decoration: inherit;
                    }
                    &.highlighted {
                        color: $colorAccentDark;
                    }
                }
            }
        }
    }
}

.inline-image {
    width: 360px;
    max-width: 90%;
    display: block;
    margin: auto;
    border: 2px solid $colorAccentDark;
}

nav.pagination {
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

main {
    width: 95%;
    max-width: 720px;
    margin: auto;
    ol.posts {
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
            color: inherit;
            text-decoration: inherit;
        }
        li {
            padding: 0 1rem 0 1rem;
            border: 1px solid #666666;
            background-color: #cccccc;
            margin-bottom: 1.5rem;
        }
    }
}

summary {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    th {
        background-color: #cccccc;
    }
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(odd) {
        background-color: #dddddd;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    p {
        text-align: center;
    }
}

button.create-new-post {
    margin-bottom: 1rem;
}

input.delete-post {
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: $colorAccentDark;
}

form.login {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

input.login-submit {
    grid-column: 1 / 3;
}

form.register {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

input.register-submit {
    grid-column: 1 / 3;
}