@import './vars';
$headerHeight: 3rem;
$headerTitleFontSize: 1.5rem;
$headerMenuFontSize: 1.2rem;
body {
    font-family: 'IM Fell English', serif;
    background-color: #eeeeee;
}

.page-title {
    border-bottom: 2px solid $colorAccentDark;
}

header {
    background-color: $colorBackgroundHeader;
    box-shadow: 0px 4px 4px $colorBackgroundMid;
    height: $headerHeight;
    position: fixed;
    top: 0;
    width: 100%;
    // Main menu wrapper.
    div.wrapper {
        // Display.
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Don't want it to spread out too much.
        height: 100%;
        width: 100%;
        max-width: 1080px;
        margin: auto;
        div.sub-wrapper {
            flex-grow: 1;
            // Display.
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            // Main logo.
            img {
                display: block;
                height: 50%;
                margin-right: 1rem;
                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }
            // Main title.
            h1 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: $headerTitleFontSize;
                text-align: center;
            }
            @media only screen and (max-width: 500px) {
                display: none;
            }
        }
        // Main menu contents.
        nav {
            flex-grow: 1;
            ul {
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    font-size: $headerMenuFontSize;
                    a {
                        text-align: center;
                        color: inherit;
                        text-decoration: inherit;
                    }
                    &.highlighted {
                        color: $colorAccentDark;
                    }
                }
            }
        }
    }
}

main {
    width: 95%;
    max-width: 720px;
    margin: 4.5rem auto 1.5rem auto;
}

.inline-image {
    width: 360px;
    max-width: 90%;
    display: block;
    margin: auto;
    border: 2px solid $colorAccentDark;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    p {
        text-align: center;
    }
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: $colorAccentDark;
}

.handwritten {
    font-family: 'Beth Ellen', cursive;
    font-size: 1rem;
}

.typed {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.monster {
    background-image: linear-gradient(160deg, #dddddd, #eaeaea);
    border: 1px dashed black;
    margin: auto;
    padding: 1rem;
    width: calc(95% - 2rem);
    &-name {
        &-label {
            border-top: 1px solid black;
            margin-top: 0.1rem;
            padding-top: 0.1rem;
        }
    }
    &-statblock {
        column-gap: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 1.5rem;
        &-label {
            align-self: center;
            justify-self: left;
            grid-row: 1 / span 1;
            &.label-1 {
                grid-column: 1 / span 1;
            }
            &.label-2 {
                grid-column: 2 / span 1;
            }
            &.label-3 {
                grid-column: 3 / span 1;
            }
            &.label-4 {
                grid-column: 4 / span 1;
            }
            &.label-5 {
                grid-column: 5 / span 1;
            }
        }
        &-value {
            align-self: end;
            justify-self: center;
            grid-row: 1 / span 2;
            &.value-1 {
                grid-column: 1 / span 1;
            }
            &.value-2 {
                grid-column: 2 / span 1;
            }
            &.value-3 {
                grid-column: 3 / span 1;
            }
            &.value-4 {
                grid-column: 4 / span 1;
            }
            &.value-5 {
                grid-column: 5 / span 1;
            }
        }
    }
    &-optional {
        display: flex;
        @media only screen and (max-width: 550px) {
            flex-direction: column;
        }
        &-special {
            margin-top: 1.5rem;
            width: 100%;
            &-value {
                font-size: 0.9rem;
                padding-left: min(8%, 2em);
                ul {
                    list-style: none;
                    list-style-type: "- ";
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

article {
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border: 1px dashed black;
    margin: auto;
    width: 95%;
    th {
        background-image: linear-gradient(160deg, #cccccc, #d0d0d0);
        font-family: 'Special Elite', 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        font-weight: normal;
        padding: 0.5em;
        &:nth-child(1) {
            border-right: 1px dashed black;
            text-align: center;
            width: 2rem;
        }
        &:nth-child(n+2) {
            padding-left: 2%;
            text-align: left;
        }
    }
    td {
        padding: 0.5em;
        &:nth-child(1) {
            border-right: 1px dashed black;
            font-family: 'Special Elite', 'Courier New', Courier, monospace;
            font-size: 0.8rem;
            position: relative;
            text-align: center;
            img {
                display: none;
                position: absolute;
                top: calc(50% - 1rem);
                left: 15%;
                width: 2rem;
                height: 2rem;
            }
        }
        &:nth-child(n+2) {
            font-family: 'Beth Ellen', cursive;
            font-size: 0.9rem;
            padding-left: 2%;
            text-align: left;
        }
    }
    tr:nth-child(odd) {
        background-image: linear-gradient(160deg, #dddddd, #e0e0e0);
    }
    tr.selected {
        background-image: linear-gradient(160deg, $colorAccentMuted, $colorAccentMutedMore) !important;
    }
}