@import './vars';
$headerHeight: 3rem;
$headerTitleFontSize: 1.5rem;
$headerMenuFontSize: 1.2rem;
body {
    font-family: 'IM Fell English', serif;
    background-color: #eeeeee;
}

.page-title {
    border-bottom: 2px solid $colorAccentDark;
}

header {
    background-color: $colorBackgroundHeader;
    box-shadow: 0px 4px 4px $colorBackgroundMid;
    height: $headerHeight;
    position: fixed;
    top: 0;
    width: 100%;
    // Main menu wrapper.
    div.wrapper {
        // Display.
        display: flex;
        justify-content: space-around;
        align-items: center;
        // Don't want it to spread out too much.
        height: 100%;
        width: 100%;
        max-width: 1080px;
        margin: auto;
        div.sub-wrapper {
            flex-grow: 1;
            // Display.
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            // Main logo.
            img {
                display: block;
                height: 50%;
                margin-right: 1rem;
                @media only screen and (max-width: 800px) {
                    display: none;
                }
            }
            // Main title.
            h1 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: $headerTitleFontSize;
                text-align: center;
            }
            @media only screen and (max-width: 500px) {
                display: none;
            }
        }
        // Main menu contents.
        nav {
            flex-grow: 1;
            ul {
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    font-size: $headerMenuFontSize;
                    a {
                        text-align: center;
                        color: inherit;
                        text-decoration: inherit;
                    }
                    &.highlighted {
                        color: $colorAccentDark;
                    }
                }
            }
        }
    }
}

main {
    width: 95%;
    max-width: 720px;
    margin: 4.5rem auto 1.5rem auto;
}

.inline-image {
    width: 360px;
    max-width: 90%;
    display: block;
    margin: auto;
    border: 2px solid $colorAccentDark;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    p {
        text-align: center;
    }
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: $colorAccentDark;
}