body {
    font-family: 'IM Fell English', serif;

    background-color: #eeeeee;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cccccc;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        padding: 0;
        margin: 0;
    }
}

main {
    width: 95%;
    max-width: 720px;
    margin: auto;
    margin-top: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: #cccccc;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #dddddd;
    }
}

footer {
    margin: 2rem;
}