@import 'vars.scss';

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    width: 100%;

    &-label {
        &-username, &-password {
            margin-bottom: 0.5em;
        }

        &-password {
            margin-top: 1em;
        }
    }

    &-input {
        &-username, &-password {
            height: 1.5em;
            line-height: 1.5em;
        }
    }

    &-button {
        margin-top: 1em;
    }
}

.password-container {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;

    &-button {
        align-items: center;
        display: grid;
        height: 100%;

        &-icon {
            align-items: center;
            display: grid !important;
            height: 100%;
        }
    }
}

.error {
    color: $color-error;
    margin: 0.2em;
    text-align: center;

    &-credentials {
        margin-top: 1rem;
    }
}

.input-error {
    background-color: $color-error-background !important;
    border: 1px solid $color-error;
}

.register-prompt {
    text-align: center;
    margin-top: 1em;
}

.sticky-note {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    height: 300px;
    width: 300px;
    position: relative;
    transform: rotate(7deg);
    margin: auto;

    &-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        display: grid;
    
        margin: 0;
        padding: 50px 20px 20px 20px;
        list-style: none;
    }

    &-item {
        align-self: center;
        justify-content: center;
        text-align: center;
    }
}