/* CONSTANTS */
$color-accent: darkred;
$color-accent-background: rgb(214, 159, 159);
$color-accent-background-light: rgb(218, 196, 196);

$color-error: rgb(243, 85, 57);
$color-error-background: rgb(245, 150, 133);

/* OVERWRITE DEFAULT PAGE WIDTH */
main {
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
}

#app {
    margin-bottom: 2rem;
}

.columns {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1330px) {
        flex-direction: column;
    }

    .column {
        flex: 1;
        margin: 0 20px;

        &.column-small {
            max-width: 480px;
        }

        @media (max-width: 1330px) {
            &.column-small {
                max-width: none;
            }

            max-width: 720px;
            flex-direction: column;
            margin: 0;
        }
    }
}

/* ERROR MESSAGE AND TRANSITION */
.error-message {
    position: absolute;
    background-color: $color-error-background;
    border: 1px solid $color-error;
    color: 1px solid $color-error;
    padding: 5px;
    border-radius: 4px;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 1.3s ease-in;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

/* CUSTOM CHECKBOXES */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 6px;
}

.checkbox-container input {
    display: none;
}

.checkbox {
    height: 16px;
    width: 16px;
    background-color: #dddddd;
    border: 1px solid $color-accent;
    border-radius: 2px;
    position: relative;
    margin-right: 6px;
}

.checkbox-container input:checked ~ .checkbox {
    background-color: $color-accent-background-light;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox:after {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.checkbox-container .checkbox:after {
    content: "✔";
    color: $color-accent;
}

/* CUSTOM RADIO BUTTONS */
.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 6px;
}

.radio-container input {
    display: none;
}

.radio {
    height: 16px;
    width: 16px;
    background-color: #dddddd;
    border: 1px solid $color-accent;
    border-radius: 8px;
    position: relative;
    margin-right: 6px;
}

.radio-container input:checked ~ .radio {
    background-color: $color-accent-background-light;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio:after {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.radio-container .radio:after {
    content: "✔";
    color: $color-accent;
}

/* INPUTS AND GLOBAL CLASSES */
.section-header {
    align-items: center;
    border-bottom: 1px solid $color-accent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    h2 {
        margin-bottom: 0.1em;
    }

    button.hide {
        height: fit-content;
    }
}

button {
    cursor: pointer;
    font-family: inherit;
    background-color: $color-accent-background;
    border: 1px solid $color-accent;
}

input {
    font-family: inherit;
    background-color: $color-accent-background-light;
    border: 1px solid $color-accent;
}

select {
    font-family: inherit;
    background-color: $color-accent-background-light;
    border: 1px solid $color-accent;
}

.unselectable {
    user-select: none;
}

.hidden {
    visibility: hidden;
}

/* SECTION: STATS */
.section-stats {
    display: flex;
    justify-content: flex-start; // space-around;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    .stat-lookup {
        input {
            color: $color-accent;
            margin-right: 10px;
            max-width: 160px;
        }
    }

    .stat-container {
        // padding-left: 50px;

        @media (max-width: 480px) {
            padding-left: 0;
        }

        .stat {
            display: flex;
            margin-bottom: 8px;

            img {
                height: 24px;
                width: 28px;
                object-fit: contain;
                margin-right: 5px;
            }

            input {
                font-size: 1rem;
                width: 80px;
            }
        }
    }
}

/* SECTION: BLOCKS */
.section-blocks {
    display: grid;
    grid-template-columns: 16px 200px 80px;
    column-gap: 4px;
    row-gap: 4px;
    align-items: center;
}

/* SECTION: MASTERS */
img.master-chathead-small {
    height: 30px;
    width: 36px;
    object-fit: contain;
    margin-right: 4px;
}

img.master-chathead-header {
    height: 48px;
    width: 52px;
    object-fit: contain;
    margin-right: 10px;
}

/* SECTION: TABLE */
table {
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

tr:first-child {
    font-weight: bold;
}

// tr:nth-child(even) {
//     background-color: $color-accent-background-light;
// }

tr.hidden {
    display: none;
}

/* SECTION: CHART */
#chart {
    width: 100% !important;
}