@import './vars';
ol.posts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    a {
        color: inherit;
        text-decoration: inherit;
    }
    li.post {
        background-color: $colorBackgroundHeader;
        box-shadow: 4px 4px 4px $colorBackgroundMid;
        margin-bottom: 1.5rem;
        min-height: 10rem;
        @media only screen and (max-width: 800px) {
            min-height: 7rem;
        }
        @media only screen and (max-width: 500px) {
            min-height: 5rem;
        }
        @media only screen and (max-width: 360px) {
            min-height: none;
        }
        padding: 1rem;
        a.post-link {
            display: block;
            height: 100%;
            width: 100%;
        }
        h2 {
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0.5rem;
            p {
                margin-top: 0;
                margin-bottom: 0.5rem;
            }
        }
        time {
            color: $colorTextLight;
            font-size: 0.9rem;
            font-weight: normal;
        }
        summary {
            font-weight: normal;
            margin-top: 1rem;
        }
        img {
            border: 2px solid $colorAccentDark;
            box-sizing: border-box;
            display: block;
            float: right;
            height: 10rem;
            margin-left: 1rem;
            margin-bottom: 0.5rem;
            @media only screen and (max-width: 800px) {
                height: 7rem;
            }
            @media only screen and (max-width: 500px) {
                height: 5rem;
            }
            @media only screen and (max-width: 360px) {
                float: none;
                height: auto;
                margin-bottom: 1rem;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

nav.pagination {
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li.disabled {
            visibility: hidden;
        }
    }
}

button.create-new-post {
    margin-bottom: 1em;
}

button.edit-post {
    margin-top: 0.5em;
}

input.delete-post {
    margin-top: 0.5em;
}

form.create-new-post {
    display: flex;
    flex-direction: column;
    label {
        padding-top: 0.5em;
    }
    input.submit-post {
        margin-top: 1em;
    }
}