@import 'vars';
main img {
    width: 360px;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid $colorAccentDark;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0.25em;
    p {
        margin: inherit;
        margin-bottom: 0;
    }
}

article {
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border: 1px dashed black;
    margin: auto;
    table-layout: fixed;
    width: 100%;
    th {
        background-image: linear-gradient(160deg, #cccccc, #d0d0d0);
        border-right: 1px dashed black;
        border-bottom: 1px dashed black;
        font-family: 'Special Elite', 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        font-weight: normal;
        padding: 0.5em;
        &:nth-child(1) {
            border-right: 1px dashed black;
            cursor: pointer;
            text-align: center;
            user-select: none;
            width: 2rem;
            &:before {
                content: "\f522";
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
        &:nth-child(n+2) {
            padding-left: 2%;
            text-align: left;
        }
    }
    td {
        border-right: 1px dashed black;
        padding: 0.5em;
        &:nth-child(1) {
            font-family: 'Special Elite', 'Courier New', Courier, monospace;
            font-size: 0.8rem;
            height: 26px;
            text-align: center;
        }
        &:nth-child(n+2) {
            font-family: 'Special Elite', 'Courier New', Courier, monospace;
            //font-family: 'Beth Ellen', cursive;
            font-size: 0.8rem;
            padding-left: 2%;
            text-align: left;
        }
    }
    tr:nth-child(odd) {
        background-image: linear-gradient(160deg, #dddddd, #e0e0e0);
    }
    tr.selected {
        td {
            &:nth-child(1) {
                background-image: url(https://parvifolium.net/images/brush-circled.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

ul {
    list-style-type: "- ";
}