@import 'vars.scss';

.profile {
    margin-bottom: 1.5rem;
    &-name {
        color: $color-text-accent;
        font-weight: 600;

        &-id {
            font-style: italic;
            font-weight: 300;

            &::before {
                content: $username-prepend;
            }
        }
    }
}