@import 'vars.scss';

.register {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    width: 100%;

    &-label {
        &-username, &-displayname, &-password, &-robot {
            margin-bottom: 0.5em;
        }

        &-displayname, &-password {
            margin-top: 1em;
        }

        &-robot {
            align-items: center;
            display: grid;
            grid-template-columns: auto 60px;
            margin-top: 1.5em;
        }
    }

    &-input {
        &-username, &-displayname, &-password {
            height: 1.5em;
            line-height: 1.5em;
        }
    }

    &-button {
        margin-top: 1em;
    }
}

.password-container {
    align-items: center;
    display: grid;
    grid-template-columns: auto 60px;

    &-button {
        align-items: center;
        display: grid;

        &:focus {
            outline: revert;
        }

        &-icon {
            align-items: center;
            display: grid !important;
            height: 100%;
        }
    }
}

.error {
    color: $color-error;
    margin: 0.2em;
    text-align: center;
}

.input-error {
    background-color: $color-error-background !important;
    border: 1px solid $color-error;
}

.login-prompt {
    text-align: center;
    margin-top: 1em;
}

.checkbox-container {
    cursor: pointer;
}

.checkbox-container input {
    display: none;
}

.checkbox {
    justify-self: center;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background-color: $color-confirm-background;
    border: 1px solid $color-confirm-dark;
    border-radius: 2px;
    position: relative;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox:after {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.checkbox-container .checkbox:after {
    content: "✔";
    color: $color-confirm-dark;
}