@import './vars';
.handwritten {
    font-family: 'Beth Ellen', cursive;
    font-size: 1rem;
}

.typed {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.monster {
    background-image: linear-gradient(160deg, #dddddd, #eaeaea);
    border: 1px dashed black;
    margin: auto;
    padding: 1rem;
    max-width: 360px;
    &-name {
        &-value {
            padding-left: min(8%, 2em);
        }
    }
    &-statblock {
        column-gap: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 1.5rem;
        &-label {
            align-self: center;
            justify-self: left;
            grid-row: 1 / span 1;
            &.label-1 {
                grid-column: 1 / span 1;
            }
            &.label-2 {
                grid-column: 2 / span 1;
            }
            &.label-3 {
                grid-column: 3 / span 1;
            }
            &.label-4 {
                grid-column: 4 / span 1;
            }
            &.label-5 {
                grid-column: 5 / span 1;
            }
        }
        &-value {
            align-self: end;
            justify-self: center;
            grid-row: 1 / span 2;
            &.value-1 {
                grid-column: 1 / span 1;
            }
            &.value-2 {
                grid-column: 2 / span 1;
            }
            &.value-3 {
                grid-column: 3 / span 1;
            }
            &.value-4 {
                grid-column: 4 / span 1;
            }
            &.value-5 {
                grid-column: 5 / span 1;
            }
        }
    }

    &-special {
        margin-top: 1.5rem;
        &-value {
            padding-left: min(8%, 2em);
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}