@import 'vars';

.commaAfter::after {
    content: ",";
}

.character {
    margin: auto;
    margin-bottom: 2rem;
    position: relative;

    background-image: url('https://www.parvifolium.net/images/whitehack/sheet_background.jpg');
    background-size: cover;

    padding: 1rem 0.5rem;

    border: 1px dashed black;
}

.character-container .character {
    margin-bottom: 0;
}

.character-generate {
    color: $colorAccentDark;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.character-name {
    font-size: 1.2rem;
    margin-top: 2rem;
    &.handwritten {
        padding-left: 3px;
    }
    &-form {
        border-top: 1px solid gray;
        margin-top: 0.1rem;
        padding-top: 0.1rem;
    }
}

.character-container .character-name {
    margin-top: 0;
}

.character-summary-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;

    .characterclass {
        grid-column: 1 / span 3;
    }

    .charactervocation {
        grid-column: 4 / span 5;
    }

    @media (max-width: 540px) {
        grid-template-rows: 1fr 1fr;

        .characterclass {
            grid-column: 1 / span 6;
            grid-row: 1 / span 1;
        }

        .characterxp {
            grid-column: 7 / span 2;
            grid-row: 1 / span 1;
        }

        .characterlevel {
            grid-column: 9 / span 2;
            grid-row: 1 / span 1;
        }
    
        .charactervocation {
            grid-column: 1 / span 10;
            grid-row: 2 / span 1;
        }
    }
}

.character-summary {
    font-size: 1.2rem;
    &.handwritten {
        padding-left: 3px;
    }

    &-form {
        border-top: 1px solid gray;
        margin-top: 0.1rem;
        padding-top: 0.1rem;
    }
}

.character-vitals {
    column-gap: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1.5rem;
    &-label {
        align-self: center;
        justify-self: left;
        grid-row: 1 / span 1;
        &.label-1 {
            grid-column: 1 / span 1;
        }
        &.label-2 {
            grid-column: 2 / span 1;
        }
        &.label-3 {
            grid-column: 3 / span 1;
        }
        &.label-4 {
            grid-column: 4 / span 1;
        }
        &.label-5 {
            grid-column: 5 / span 1;
        }
    }
    &-value {
        align-self: center;
        justify-self: center;
        grid-row: 1 / span 2;

        border-right: 1px solid gray;
        height: 100%;
        padding-left: 30%;
        width: 70%;

        @media (max-width: 480px) {
            padding-left: 40%;
            width: 60%;
        }

        &.value-1 {
            grid-column: 1 / span 1;
        }
        &.value-2 {
            grid-column: 2 / span 1;
        }
        &.value-3 {
            grid-column: 3 / span 1;
        }
        &.value-4 {
            grid-column: 4 / span 1;
        }
        &.value-5 {
            grid-column: 5 / span 1;
            border-right: none;
        }
    }
}

.character-attributes {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 2rem 2rem auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1.5rem;
    max-width: 720px;
    row-gap: 3px;

    @media (max-width: 480px) {
        column-gap: 0px;
    }

    &-label {
        align-self: center;
        grid-column: 1 / span 1;
        justify-self: left;
        &.label-1 {
            grid-row: 1 / span 1;
        }
        &.label-2 {
            grid-row: 2 / span 1;
        }
        &.label-3 {
            grid-row: 3 / span 1;
        }
        &.label-4 {
            grid-row: 4 / span 1;
        }
        &.label-5 {
            grid-row: 5 / span 1;
        }
        &.label-6 {
            grid-row: 6 / span 1;
        }
    }
    &-value {
        align-self: center;
        grid-column: 2 / span 1;
        justify-self: center;

        @media (max-width: 480px) {
            justify-self: left;
        }

        &.value-1 {
            grid-row: 1 / span 1;
        }
        &.value-2 {
            grid-row: 2 / span 1;
        }
        &.value-3 {
            grid-row: 3 / span 1;
        }
        &.value-4 {
            grid-row: 4 / span 1;
        }
        &.value-5 {
            grid-row: 5 / span 1;
        }
        &.value-6 {
            grid-row: 6 / span 1;
        }
    }
    &-groups {
        align-self: center;
        grid-column: 3 / span 1;
        justify-self: left;
        &.groups-1 {
            grid-row: 1 / span 1;
        }
        &.groups-2 {
            grid-row: 2 / span 1;
        }
        &.groups-3 {
            grid-row: 3 / span 1;
        }
        &.groups-4 {
            grid-row: 4 / span 1;
        }
        &.groups-5 {
            grid-row: 5 / span 1;
        }
        &.groups-6 {
            grid-row: 6 / span 1;
        }
    }
}

.character-slots {
    margin-top: 1.5rem;
    ul {
        margin: 0;
        padding: 0;

        margin-left: 1rem;
        li {
            list-style: "-";
            padding-bottom: 0.2rem;
            padding-left: 0.2rem;
        }
    }
}

.character-quirks {
    margin-top: 1.5rem;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: "-";
            padding-bottom: 0.2rem;
            padding-left: 1.2rem;

            text-indent: -1rem;
            margin-left: 1rem;
        }
    }
}

.character-inventory {
    margin-top: 1.5rem;
    ul {
        margin: 0;
        padding: 0;
        margin-left: 1rem;
        li {
            list-style: "-";
            padding-bottom: 0.2rem;
            padding-left: 0.2rem;
        }
    }
}