@charset "UTF-8";

body {
  background-color: #eeeeee;
  font-family: "IM Fell English", serif;
  overflow-x: hidden;
}

.page-title {
  border-bottom: 2px solid darkred;
}

header {
  background-color: #cccccc;
  box-shadow: 0px 4px 4px #888888;
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
}

header div.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

header div.wrapper div.sub-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header div.wrapper div.sub-wrapper img {
  display: block;
  height: 50%;
  margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
  header div.wrapper div.sub-wrapper img {
    display: none;
  }
}

header div.wrapper div.sub-wrapper h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header div.wrapper div.sub-wrapper {
    display: none;
  }
}

header div.wrapper nav {
  flex-grow: 1;
}

header div.wrapper nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header div.wrapper nav ul li {
  font-size: 1.2rem;
}

header div.wrapper nav ul li a {
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}

header div.wrapper nav ul li.highlighted {
  color: darkred;
}

main {
  width: 95%;
  max-width: 720px;
  margin: 4.5rem auto 1.5rem auto;
}

.inline-image {
  width: 360px;
  max-width: 90%;
  display: block;
  margin: auto;
  border: 2px solid darkred;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

footer p {
  text-align: center;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: darkred;
}

.handwritten {
  font-family: "Beth Ellen", cursive;
  font-size: 1rem;
}

.typed {
  font-family: "Special Elite", "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

.monster {
  background-image: linear-gradient(160deg, #dddddd, #eaeaea);
  border: 1px dashed black;
  margin: auto;
  padding: 1rem;
  width: calc(95% - 2rem);
}

.monster-name-label {
  border-top: 1px solid black;
  margin-top: 0.1rem;
  padding-top: 0.1rem;
}

.monster-statblock {
  -moz-column-gap: 5%;
       column-gap: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1.5rem;
}

.monster-statblock-label {
  align-self: center;
  justify-self: left;
  grid-row: 1/span 1;
}

.monster-statblock-label.label-1 {
  grid-column: 1/span 1;
}

.monster-statblock-label.label-2 {
  grid-column: 2/span 1;
}

.monster-statblock-label.label-3 {
  grid-column: 3/span 1;
}

.monster-statblock-label.label-4 {
  grid-column: 4/span 1;
}

.monster-statblock-label.label-5 {
  grid-column: 5/span 1;
}

.monster-statblock-value {
  align-self: end;
  justify-self: center;
  grid-row: 1/span 2;
}

.monster-statblock-value.value-1 {
  grid-column: 1/span 1;
}

.monster-statblock-value.value-2 {
  grid-column: 2/span 1;
}

.monster-statblock-value.value-3 {
  grid-column: 3/span 1;
}

.monster-statblock-value.value-4 {
  grid-column: 4/span 1;
}

.monster-statblock-value.value-5 {
  grid-column: 5/span 1;
}

.monster-optional {
  display: flex;
}

@media only screen and (max-width: 550px) {
  .monster-optional {
    flex-direction: column;
  }
}

.monster-optional-special {
  margin-top: 1.5rem;
  width: 100%;
}

.monster-optional-special-value {
  font-size: 0.9rem;
  padding-left: min(8%, 2em);
}

.monster-optional-special-value ul {
  list-style: none;
  list-style-type: "- ";
  margin: 0;
  padding: 0;
}

article {
  margin-bottom: 2rem;
}

table {
  border-collapse: collapse;
  border: 1px dashed black;
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

table th {
  background-image: linear-gradient(160deg, #cccccc, #d0d0d0);
  border-right: 1px dashed black;
  border-bottom: 1px dashed black;
  font-family: "Special Elite", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0.5em;
}

table th:nth-child(1) {
  border-right: 1px dashed black;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2rem;
}

table th:nth-child(1):before {
  content: "\F522";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

table th:nth-child(n+2) {
  padding-left: 2%;
  text-align: left;
}

table td {
  border-right: 1px dashed black;
  padding: 0.5em;
}

table td:nth-child(1) {
  font-family: "Special Elite", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  height: 26px;
  text-align: center;
}

table td:nth-child(n+2) {
  font-family: "Special Elite", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  padding-left: 2%;
  text-align: left;
}

table tr:nth-child(odd) {
  background-image: linear-gradient(160deg, #dddddd, #e0e0e0);
}

table tr.selected td:nth-child(1) {
  background-image: url(https://parvifolium.net/images/brush-circled.svg);
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: "- ";
}

