body {
  font-family: "IM Fell English", serif;
  background-color: #eeeeee;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #cccccc;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  width: 95%;
  max-width: 720px;
  margin: auto;
  margin-top: 3rem;
}

main ol.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #cccccc;
}

table td,
table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(odd) {
  background-color: #dddddd;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

