body {
  font-family: "IM Fell English", serif;
  background-color: #eeeeee;
}

nav.menu {
  width: 100%;
  background-color: #cccccc;
  line-height: 2;
  font-size: 1.2rem;
}

nav.menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #666666;
}

nav.menu ul a {
  flex-grow: 1;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}

nav.menu ul a li {
  width: 100%;
  border-left: 1px solid #666666;
}

nav.menu ul a li.first {
  border: none;
}

nav.menu ul a li.highlighted {
  background-color: #aaaaaa;
}

nav.pagination ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  width: 95%;
  max-width: 720px;
  margin: auto;
}

main ol.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main ol.posts a {
  color: inherit;
  text-decoration: inherit;
}

main ol.posts li {
  padding: 0 1rem 0 1rem;
  border: 1px solid #666666;
  background-color: #cccccc;
  margin-bottom: 1.5rem;
}

summary {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #cccccc;
}

table td,
table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(odd) {
  background-color: #dddddd;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
}

button.create-new-post {
  margin-bottom: 1rem;
}

input.delete-post {
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: darkred;
}

form.login {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

input.login-submit {
  grid-column: 1/3;
}

form.register {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

input.register-submit {
  grid-column: 1/3;
}

