body {
  font-family: "IM Fell English", serif;
  background-color: #eeeeee;
}

nav.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #cccccc;
  line-height: 2;
  font-size: 1.2rem;
}

nav.menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #666666;
}

nav.menu ul a {
  flex-grow: 1;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}

nav.menu ul a li {
  width: 100%;
  border-left: 1px solid #666666;
}

nav.menu ul a li.first {
  border: none;
}

nav.menu ul a li.highlighted {
  background-color: #aaaaaa;
}

nav.pagination ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  width: 95%;
  max-width: 720px;
  margin: auto;
  margin-top: 3rem;
}

main ol.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main ol.posts a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #cccccc;
}

table td,
table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(odd) {
  background-color: #dddddd;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
}

