body {
  font-family: "IM Fell English", serif;
  background-color: #eeeeee;
}

header {
  height: 3rem;
  width: 100%;
  background-color: #cccccc;
}

header div.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

header div.wrapper div.sub-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header div.wrapper div.sub-wrapper img {
  display: block;
  height: 50%;
  margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
  header div.wrapper div.sub-wrapper img {
    display: none;
  }
}

header div.wrapper div.sub-wrapper h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header div.wrapper div.sub-wrapper {
    display: none;
  }
}

header div.wrapper nav {
  flex-grow: 1;
}

header div.wrapper nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header div.wrapper nav ul li {
  font-size: 1.2rem;
}

header div.wrapper nav ul li a {
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}

header div.wrapper nav ul li.highlighted {
  color: darkred;
}

.inline-image {
  width: 360px;
  max-width: 90%;
  display: block;
  margin: auto;
  border: 2px solid darkred;
}

nav.pagination ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  width: 95%;
  max-width: 720px;
  margin: auto;
}

main ol.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main ol.posts a {
  color: inherit;
  text-decoration: inherit;
}

main ol.posts li {
  padding: 0 1rem 0 1rem;
  border: 1px solid #666666;
  background-color: #cccccc;
  margin-bottom: 1.5rem;
}

summary {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #cccccc;
}

table td,
table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(odd) {
  background-color: #dddddd;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

footer p {
  text-align: center;
}

button.create-new-post {
  margin-bottom: 1rem;
}

input.delete-post {
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: darkred;
}

form.login {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

input.login-submit {
  grid-column: 1/3;
}

form.register {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

input.register-submit {
  grid-column: 1/3;
}

