@charset "UTF-8";

/* CONSTANTS */

/* OVERWRITE DEFAULT PAGE WIDTH */

main {
  max-width: 1600px;
}

#app {
  margin-bottom: 2rem;
}

.columns {
  display: flex;
  flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1330px) {
  .columns {
    flex-direction: column;
  }
}

.columns .column {
  flex: 1;
  margin: 0 20px;
}

.columns .column.column-small {
  max-width: 480px;
}

@media (max-width: 1330px) {
  .columns .column {
    max-width: 720px;
    flex-direction: column;
    margin: 0;
  }

  .columns .column.column-small {
    max-width: none;
  }
}

/* ERROR MESSAGE AND TRANSITION */

.error-message {
  position: absolute;
  background-color: #f59685;
  border: 1px solid #f35539;
  color: 1px solid #f35539;
  padding: 5px;
  border-radius: 4px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 1.3s ease-in;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* CUSTOM CHECKBOXES */

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 6px;
}

.checkbox-container input {
  display: none;
}

.checkbox {
  height: 16px;
  width: 16px;
  background-color: #dddddd;
  border: 1px solid darkred;
  border-radius: 2px;
  position: relative;
  margin-right: 6px;
}

.checkbox-container input:checked ~ .checkbox {
  background-color: #dac4c4;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox:after {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.checkbox-container .checkbox:after {
  content: "\2714";
  color: darkred;
}

/* CUSTOM RADIO BUTTONS */

.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 6px;
}

.radio-container input {
  display: none;
}

.radio {
  height: 16px;
  width: 16px;
  background-color: #dddddd;
  border: 1px solid darkred;
  border-radius: 8px;
  position: relative;
  margin-right: 6px;
}

.radio-container input:checked ~ .radio {
  background-color: #dac4c4;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio:after {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.radio-container .radio:after {
  content: "\2714";
  color: darkred;
}

/* INPUTS AND GLOBAL CLASSES */

.section-header {
  align-items: center;
  border-bottom: 1px solid darkred;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.section-header h2 {
  margin-bottom: 0.1em;
}

.section-header button.hide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: #d69f9f;
  border: 1px solid darkred;
}

input {
  font-family: inherit;
  background-color: #dac4c4;
  border: 1px solid darkred;
}

select {
  font-family: inherit;
  background-color: #dac4c4;
  border: 1px solid darkred;
}

.unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hidden {
  visibility: hidden;
}

/* SECTION: STATS */

.section-stats {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .section-stats {
    flex-direction: column;
  }
}

.section-stats .stat-lookup input {
  color: darkred;
  margin-right: 10px;
  max-width: 160px;
}

@media (max-width: 480px) {
  .section-stats .stat-container {
    padding-left: 0;
  }
}

.section-stats .stat-container .stat {
  display: flex;
  margin-bottom: 8px;
}

.section-stats .stat-container .stat img {
  height: 24px;
  width: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}

.section-stats .stat-container .stat input {
  font-size: 1rem;
  width: 80px;
}

/* SECTION: BLOCKS */

.section-blocks {
  display: grid;
  grid-template-columns: 16px 200px 80px;
  -moz-column-gap: 4px;
       column-gap: 4px;
  row-gap: 4px;
  align-items: center;
}

/* SECTION: MASTERS */

img.master-chathead-small {
  height: 30px;
  width: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 4px;
}

img.master-chathead-header {
  height: 48px;
  width: 52px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

/* SECTION: TABLE */

table {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

tr:first-child {
  font-weight: bold;
}

tr.hidden {
  display: none;
}

/* SECTION: CHART */

#chart {
  width: 100% !important;
}

