.create {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-text {
  flex: 1;
  min-height: 4.5em;
  line-height: 1.5em;
  padding: 0 0.5em;
}

@media (max-width: 580px) {
  .create-text {
    min-height: 6em;
  }
}

@media (max-width: 420px) {
  .create-text {
    min-height: 7.5em;
  }
}

.create-button {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  background-color: #6b6b6b;
  border: 1px solid #63c463;
  color: #63c463;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.post-header {
  display: grid;
  grid-template-columns: -webkit-min-content auto auto;
  grid-template-columns: min-content auto auto;
  max-height: 1.6em;
  line-height: 1.6em;
}

.post-header-displayname {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-header-username {
  font-style: italic;
  font-weight: 300;
  padding-left: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-header-username::before {
  content: "~";
}

.post-header-delete {
  justify-self: end;
  line-height: 1.6em;
  max-height: 1.6em;
  padding-left: 0.5em;
}

.post-timestamp {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.post-body {
  margin: 0;
  padding: 0;
}

.post-reactions {
  display: grid;
  grid-template-columns: 2em 2em 2em 2em;
  margin-top: 1em;
}

.post-reactions form input[type=checkbox] {
  display: none;
}

.post-reactions form input[type=submit]:hover,
.post-reactions form input[type=submit]:active {
  text-shadow: 0 0 5px #d2d2d2;
}

.post-reactions form input[type=checkbox]:checked + input[type=submit] {
  text-shadow: 0 0 5px #d2d2d2;
}

.post-reactions form .smile-submit:hover,
.post-reactions form .smile-submit:active {
  color: yellow;
}

.post-reactions form .smile-checkbox:checked + .smile-submit {
  color: yellow;
}

.post-reactions form .smile-checkbox:checked + .smile-submit:hover,
.post-reactions form .smile-checkbox:checked + .smile-submit:active {
  color: #63c463;
}

.post-reactions form .frown-submit:hover,
.post-reactions form .frown-submit:active {
  color: blue;
}

.post-reactions form .frown-checkbox:checked + .frown-submit {
  color: blue;
}

.post-reactions form .frown-checkbox:checked + .frown-submit:hover,
.post-reactions form .frown-checkbox:checked + .frown-submit:active {
  color: #63c463;
}

.post-reactions form .heart-submit:hover,
.post-reactions form .heart-submit:active {
  color: red;
}

.post-reactions form .heart-checkbox:checked + .heart-submit {
  color: red;
}

.post-reactions form .heart-checkbox:checked + .heart-submit:hover,
.post-reactions form .heart-checkbox:checked + .heart-submit:active {
  color: #63c463;
}

.post-reactions form .laugh-submit:hover,
.post-reactions form .laugh-submit:active {
  color: orange;
}

.post-reactions form .laugh-checkbox:checked + .laugh-submit {
  color: orange;
}

.post-reactions form .laugh-checkbox:checked + .laugh-submit:hover,
.post-reactions form .laugh-checkbox:checked + .laugh-submit:active {
  color: #63c463;
}

.delete-button {
  border: 2px solid #8a0000;
  color: #8a0000;
}

.delete-button:focus,
.delete-button:hover {
  background-color: #8a0000;
  border: 2px solid #c78f8f;
  color: #c78f8f;
}

.comments {
  border-top: 1px solid lightgreen;
  font-size: 0.9rem;
  list-style: none;
  margin: 1rem 0 0 0rem;
  padding: 0 0 0 1.5rem;
}

.comment {
  padding-left: 0.5rem;
  margin-top: 1rem;
}

.comment-header {
  display: grid;
  grid-template-columns: -webkit-min-content auto auto;
  grid-template-columns: min-content auto auto;
  max-height: 1.6em;
  line-height: 1.6em;
}

.comment-header-displayname {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-header-username {
  font-style: italic;
  font-weight: 300;
  padding-left: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-header-username::before {
  content: "~";
}

.comment-header-delete {
  font-size: 1rem;
  justify-self: end;
  line-height: 1.6em;
  max-height: 1.6em;
  padding-left: 0.5em;
}

.reply {
  display: flex;
  margin: 1rem 0 0 0;
}

.reply-text {
  flex: 1;
  line-height: 1.5em;
  height: 1.5em;
  padding: 0 0.5em;
}

.reply-button {
  background-color: #363636;
  margin-left: 0.5em;
}

