ol.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol.posts a {
  color: inherit;
  text-decoration: inherit;
}

ol.posts li.post {
  background-color: #cccccc;
  box-shadow: 4px 4px 4px #888888;
  margin-bottom: 1.5rem;
  min-height: 10rem;
}

@media only screen and (max-width: 800px) {
  ol.posts li.post {
    min-height: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  ol.posts li.post {
    min-height: 5rem;
  }
}

@media only screen and (max-width: 360px) {
  ol.posts li.post {
    min-height: none;
  }
}

ol.posts li.post a.post-link {
  display: block;
  padding: 1rem;
  min-height: 10rem;
}

ol.posts li.post h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ol.posts li.post h2 p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ol.posts li.post time {
  color: #444444;
  font-size: 0.9rem;
  font-weight: normal;
}

ol.posts li.post summary {
  font-weight: normal;
  margin-top: 1rem;
}

ol.posts li.post .read-more {
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  color: darkred;
}

ol.posts li.post img {
  border: 2px solid darkred;
  box-sizing: border-box;
  display: block;
  float: right;
  height: 10rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
  ol.posts li.post img {
    height: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  ol.posts li.post img {
    height: 5rem;
  }
}

@media only screen and (max-width: 360px) {
  ol.posts li.post img {
    float: none;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 0;
    width: 100%;
  }
}

nav.pagination ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.pagination ul li.disabled {
  visibility: hidden;
}

button.create-new-post {
  margin-bottom: 1em;
}

form.create-new-post {
  display: flex;
  flex-direction: column;
}

form.create-new-post label {
  padding-top: 0.5em;
}

form.create-new-post input.submit-post {
  margin-top: 1em;
}

form.create-new-post .input-text {
  font-family: "Nanum Gothic Coding", monospace;
}

.post-admin {
  display: flex;
  margin-top: 0.5em;
}

.post-admin-edit {
  margin-right: 0.5em;
}

.post-admin-delete {
  margin-right: 0.5em;
}

