.profile {
  margin-bottom: 1.5rem;
}
.profile-name {
  color: #63c463;
  font-weight: 600;
}
.profile-name-id {
  font-style: italic;
  font-weight: 300;
}
.profile-name-id::before {
  content: "~";
}
