.character {
  width: 480px;
  max-width: 100%;
  margin: auto;
}

.character button.character-generate {
  color: darkred;
  margin: auto;
}

button.character-generate {
  margin-bottom: 1em;
}

table.vitals {
  table-layout: fixed;
  margin-bottom: 1em;
}

table.attributes {
  table-layout: fixed;
}

col.attributes-col-1 {
  width: 7em;
}

col.attributes-col-2 {
  width: 2em;
}

