button {
  color: darkred;
  margin: auto;
  margin-bottom: 1em;
}

table.vitals {
  table-layout: fixed;
  margin-bottom: 1em;
}

table.attributes {
  table-layout: fixed;
}

col.attributes-col-1 {
  width: 6em;
}

col.attributes-col-2 {
  width: 4em;
}

.sheet-typed {
  font-family: "Special Elite", "Courier New", Courier, monospace;
}

.sheet-handwritten {
  font-family: "Beth Ellen", cursive;
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
}

ul ul {
  list-style-type: "- ";
}

ul ul li {
  padding-bottom: 0.1em;
}

ul li {
  padding-bottom: 0.1em;
}

