@import 'vars.scss';

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    background-color: $color-background-mid;
    border: 1px solid $color-post-accent;
    color: $color-post-accent;
    margin-bottom: 1.5rem;
    padding: 0.5rem;

    &-header {
        display: grid;
        grid-template-columns: min-content auto auto;
        max-height: 1.6em;
        line-height: 1.6em;

        &-displayname {
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-username {
            font-style: italic;
            font-weight: 300;
            padding-left: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &::before {
                content: $username-prepend;
            }
        }

        &-delete {
            justify-self: end;
            line-height: 1.6em;
            max-height: 1.6em;
            padding-left: 0.5em;
        }
    }

    &-timestamp {
        font-weight: 300;
        margin-bottom: 0.5rem;
    }

    &-body {
        margin: 0;
        padding: 0;
    }
}

.delete-button {
    border: 2px solid $color-delete;
    color: $color-delete;

    &:focus, &:hover {
        background-color: $color-delete;
        border: 2px solid $color-delete-light;
        color: $color-delete-light;
    }
}

.create {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-text {
        flex: 1;
        min-height: 4.5em;
        line-height: 1.5em;
        padding: 0 0.5em;
    }

    &-button {
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }
}

.comments {
    border-top: 1px solid lightgreen;
    font-size: 0.9rem;
    list-style: none;
    margin: 1rem 0 0 0rem;
    padding: 0 0 0 1.5rem;
}

.comment {
    padding-left: 0.5rem;
    margin-top: 1rem;

    &-header {
        display: grid;
        grid-template-columns: min-content auto auto;
        max-height: 1.6em;
        line-height: 1.6em;

        &-displayname {
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-username {
            font-style: italic;
            font-weight: 300;
            padding-left: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &::before {
                content: $username-prepend;
            }
        }
        
        &-delete {
            font-size: 1rem;
            justify-self: end;
            line-height: 1.6em;
            max-height: 1.6em;
            padding-left: 0.5em;
        }
    }
}
.reply {
    display: flex;
    margin: 1rem 0 0 0;

    &-text {
        flex: 1;
        line-height: 1.5em;
        height: 1.5em;
        padding: 0 0.5em;
    }

    &-button {
        background-color: $color-background-dark;
        margin-left: 0.5em;
    }
}